doctype html
html(lang='en')
    head
        include head.pug
        title="Wincent Home Page"
        
    body
    
        include top-menu.pug
        
        include mixins/feed-back.pug
        
        if messages.success
            +feed-back-success(messages.success)
        
               
        //HAVE TO FIX THE FOOTER
        //include footer.pug