doctype html
html(lang='en')
    head
        include head.pug
        title="Wincent Home Page"
        
    body
    
        include top-menu.pug
            
        if messages.success
            span= messages.success
        
        include footer.pug