doctype html
html(lang='en')
    head
        include head.pug
        title="Wincent Home Page"
        
    body
    
        include top-menu.pug
        
        
        
        
        include footer.pug