doctype html
html(lang='en')
    head
        include head.pug
        title="Wincent Home Page"
        
    body
    
        include top-menu.pug
            
        if messages.success
            .feed-back-success
                .title
                    h2=messages.success[0]['title']
                .msg
                    p=messages.success[0]['msg']
                .exit.cursor(onclick="this.parentElement.remove()")
                    img(src="png/cross-sign.png" alt="exit")
        
               
        //HAVE TO FIX THE FOOTER
        //include footer.pug