@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Nunito:wght@700&family=ZCOOL+KuaiLe&display=swap');

body{
    padding:0!important;
    margin:0!important;
    font-family:'Nunito',sans-serif;
    font-weight:700;
    font-size:15px;
    min-height:100vh;
}

a
{
    color:white;
    text-decoration: none;
}

h1{
    font-family:'ZCOOL KuaiLe', cursive;
    margin:0px;
    font-size:28px;
    color:#ffa636;
}

h2{
    font-family:'Chakra Petch', sans-serif;
    font-weight:700;
}

/*      CLASSES   !!!!!!!*/

.cursor:hover{
    cursor:pointer;
}

.round-button{
    display:block;
    padding:8.5px!important;
    border-radius:10px;
    border:solid 3.5px whitesmoke;
}

.round-button:hover{
    background-color:#444;
}

.reset-list{
    list-style-type:none;
    padding:0;
    margin:0;
}
.reset-list>li{
    margin:0;
    padding:0;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.error-msg{
    color:red;
    font-family:'Nunito',sans-serif;
    font-size:10px;
}


/*      Top-menu     */

header{
    background-color:black;
    color:white;
    padding:7.5px 10px;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    box-sizing:border-box;
}


header .left{
    margin-left:20px;
}

header .right{ margin-left:auto; }

header .left ul>li,
header .right ul>li{
    margin:0px 8px;
}

/*       FOOTER     */

footer{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:black;
    color:white;
    padding:35px 0;
    margin-top:100px;
}

footer .footer-inner{
    max-width:1200px;
    margin:0 auto;
    padding:0 15px;
}


footer .footer-inner .footer-inner-block{align-items:flex-start;}

footer .footer-inner .footer-inner-block .footer-flex-item{
    margin:20px 0px;
}

footer .footer-inner .footer-inner-block .footer-flex-item .footer-ul ul>li{margin:5px 0px;}

footer .footer-inner .footer-inner-block .footer-flex-item .footer-ul img{
    width:30px;
    height:30px;
    margin:0px 5px;
}


@media screen and (max-width:590px){
    footer .footer-inner .footer-inner-block{
        flex-flow:column wrap;
    }
    
    footer .footer-inner .footer-inner-block .footer-flex-item{
        margin:5px 0px; 
    }
}